* {
  gap: 0.5rem;
  justify-content: left;
  border-radius: 0;
  text-align: left;
}

.calc-layout {
  display: flex;
  flex-direction: column;
}

.calc-forms-layout {
  display: flex;
  flex-direction: row;
}

.form-card {
  width: 50%;
  text-align: center;
}

.calc-input-layout {
  display: flex;
  flex-direction: column;
}