<mat-card>
    <mat-card-header>Poniższy kalkulator służy do wstępnego doboru wielkości suchego ogrodu deszczowego.
    </mat-card-header>
</mat-card>
<div ngClass="layout">
    <mat-card>
        <mat-card-header>Parametry</mat-card-header>
        <mat-card-content>
            <form [formGroup]="inputForm" ngClass="calculator" (ngSubmit)="sendToCalculatorFunction()">
                <label *ngIf="inputForm.invalid" [ngClass]="'error'"> Błąd danych
                </label>
                <label for="powierzchniaZlewni">Powierzchnia zlewni [m²]</label>

                <input id="powierzchniaZlewni" type="number" formControlName="powierzchniaZlewni">

                <label for="glebokoscWolna">Głębokość wolna [m]</label>
                <input id="glebokoscWolna" type="number" formControlName="glebokoscWolna">

                <label for="glebokoscOgroduDeszczowego">Głębokość ogrodu deszczowego [m]</label>
                <input id="glebokoscOgroduDeszczowego" type="number" formControlName="glebokoscOgroduDeszczowego">

                <label for="qSplywuDla15lsha">Wielkość spływu Q dla I=15 [dm³/s·ha]</label>
                <input id="qSplywuDla15lsha" type="number" formControlName="qSplywuDla15lsha">

                <label for="qSplywuDla130lsha">Wielkość spływu Q dla I=130 [dm³/s·ha]</label>
                <input id="qSplywuDla130lsha" type="number" formControlName="qSplywuDla130lsha">

                <label for="qSplywuDla300lsha">Wielkość spływu Q dla I=300 [dm³/s·ha]</label>
                <input id="qSplywuDla300lsha" type="number" formControlName="qSplywuDla300lsha">

                <button type="submit">Oblicz</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>Wyniki</mat-card-header>
        <mat-card-content ngClass="calculator">
            <p>{{calculationState}}</p>
            <p>{{calculationStatus}}</p>

            <label>
                Minimalna Powierzchnia: {{results.minPowierzchnia}} [m/s2]
            </label>
            <label>
                Objętość opadu dla pierwszej fali: {{results.objetoscOpaduPierwszaFala}} [m/s2]
            </label>
            <label>
                Objętość opadu dla I=130 [dm³/s·ha]: {{results.objetoscOpadu130lsha}} [m/s2]
            </label>
            <label>
                Objętość opadu dla I=300 [dm³/s·ha]: {{results.objetoscOpadu300lsha}} [m/s2]
            </label>
            <label>
                Objętość ogrodu deszczowego: {{results.objetoscOgroduDeszczowego}} [m/s2]
            </label>
        </mat-card-content>
    </mat-card>
</div>