<div ngClass="calc-layout">
    <div>
        <mat-card>
            <mat-card-header>
                kalkulator
            </mat-card-header>
            <mat-card-content>
                Poniższy kalkulator służy do wstępnego doboru wielkości suchego ogrodu deszczowego.
            </mat-card-content>
        </mat-card>
    </div>

    <div ngClass="calc-forms-layout">
        <mat-card ngClass="form-card">
            <mat-card-header>Parametry</mat-card-header>
            <mat-card-content>
                <form [formGroup]="inputForm" ngClass="calc-input-layout" (ngSubmit)="sendToCalculatorFunction()">

                    <mat-form-field appearance="standard">
                        <mat-label>Powierzchnia zlewni</mat-label>
                        <input matInput id="powierzchniaZlewni" type="number" formControlName="powierzchniaZlewni">
                        <mat-hint>[m²]</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Głębokość wolna </mat-label>
                        <input matInput id="glebokoscWolna" type="number" formControlName="glebokoscWolna">
                        <mat-hint>[m]</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Głębokość ogrodu deszczowego </mat-label>
                        <input matInput id="glebokoscOgroduDeszczowego" type="number"
                            formControlName="glebokoscOgroduDeszczowego">
                        <mat-hint>[m]</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Wielkość spływu Q dla I=15</mat-label>
                        <input matInput id="qSplywuDla15lsha" type="number" formControlName="qSplywuDla15lsha">
                        <mat-hint>[dm³/s·ha]</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Wielkość spływu Q dla I=130</mat-label>
                        <input matInput id="qSplywuDla130lsha" type="number" formControlName="qSplywuDla130lsha">
                        <mat-hint>[dm³/s·ha]</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Wielkość spływu Q dla I=300</mat-label>
                        <input matInput id="qSplywuDla300lsha" type="number" formControlName="qSplywuDla300lsha">
                        <mat-hint>[dm³/s·ha]</mat-hint>
                    </mat-form-field>

                    <button mat-fab color="accent" type="submit">Oblicz</button>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card ngClass="form-card">
            <mat-card-header>Wyniki</mat-card-header>
            <mat-card-content>
                <div ngClass="calc-input-layout">
                    <p>{{calculationState}}</p>
                    <p>{{calculationStatus}}</p>

                    <mat-list>
                        <mat-list-item>Minimalna Powierzchnia: {{results.minPowierzchnia | format}} [m/s2]
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Objętość opadu dla pierwszej fali: {{results.objetoscOpaduPierwszaFala | format}}
                            [m/s2]</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Objętość opadu dla I=130 [dm³/s·ha]: {{results.objetoscOpadu130lsha | format}}
                            [m/s2]</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Objętość opadu dla I=300 [dm³/s·ha]: {{results.objetoscOpadu300lsha | format}}
                            [m/s2]</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Objętość ogrodu deszczowego: {{results.objetoscOgroduDeszczowego | format}}
                            [m/s2]</mat-list-item>
                    </mat-list>
                </div>



            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card>
            <mat-card-content>
                Jest to uproszczony kalkulator doboru suchego ogrodu deszczowego. Nie uwzględnia czynników, jak:
                infiltracja, straty przepływu, odparowywanie itp.
                Wykonane na bazie wytycznych miasta Londyn.
            </mat-card-content>
        </mat-card>
    </div>
</div>