* {
  gap: 0.5rem;
  justify-content: left;
  border-radius: 0;
  text-align: left;
}

.calc-layout {
  display: flex;
  flex-direction: column;
}

.calc-forms-layout {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 800px) {
  .calc-forms-layout {
    display: flex;
    flex-direction: column;
  }
}

.calc-forms-layout-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}



.calc-input-layout {
  display: flex;
  flex-direction: column;
}