<div ngClass="contact-parent">

    <mat-card>
        <mat-card-title>
            Kontakt
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon fontIcon="email"></mat-icon>
                    &nbsp; &nbsp; biuro.adsan@gmail.com

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon fontIcon="phone"></mat-icon>
                    &nbsp; &nbsp; 660 094 560
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon fontIcon="linkedin"></mat-icon>
                    &nbsp; &nbsp; <a target="_blank"
                        href="https://pl.linkedin.com/in/anna-dąbrowicz-94554546?trk=profile-badge">Anna
                        Dąbrowicz</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>