<div ngClass="contact-layout">

    <mat-card ngClass="contact-forms-layout-item">
        <mat-card-header>
            Kontakt
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    biuro.adsan@gmail.com
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    660 094 560
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card ngClass="contact-forms-layout-item">
        <mat-card-header>
            Social media
        </mat-card-header>
        <mat-card-content>
            <div className="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
                data-type="VERTICAL" data-vanity="anna-dąbrowicz-94554546" data-version="v1"></div>
        </mat-card-content>
    </mat-card>

</div>