.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  height: auto;
  z-index: -100;
}

* {
  gap: 0.5rem;
  justify-content: left;
  border-radius: 0;
  text-align: left;
  opacity: 0.90;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.content {
  margin-top: 1px;
  min-height: 80vh;
  width: 75vw;
  margin: 0 auto;
  display: flex;
}

@media all and (max-width: 800px) {
  .content {
    margin-top: 1px;
    min-height: 80vh;
    width: 99vw;
    margin: 0 auto;
  }
}