<div ngClass="welcome-layout">

    <mat-card ngClass="welcome-forms-layout-item">
        <mat-card-header>
            O Mnie
        </mat-card-header>
        <img mat-card-image src="assets/ania.jpg" ngClass="welcome-image-common" />

        <mat-card-content>
            Projektantka instalacji sanitarnych z wieloletnim doświadczeniem przy projektowaniu obiektów użyteczności
            publicznej i mieszkaniowej.<br>
            Biegła sądowa. Odpowiada za wykonywanie projektów z zakresu instalacji wodociągowo-kanalizacyjnych.<br>
            Wdraża idee proekologiczne w budownictwie. Interesuję się zagospodarowaniem i wykorzystaniem wody
            deszczowej.<br>
        </mat-card-content>
    </mat-card>
</div>