<div>
    <mat-card>
        <mat-card-title>
            O Mnie
        </mat-card-title>
        <img mat-card-image ngClass="photo" src="assets/ania.jpg" />

        <mat-card-content>
            Projektantka instalacji sanitarnych z wieloletnim doświadczeniem przy projektowaniu obiektów użyteczności
            publicznej i mieszkaniowej.
            <br><br>
            <mat-divider></mat-divider>
            <br>
            Biegła sądowa. Odpowiada za wykonywanie projektów z zakresu instalacji wodociągowo-kanalizacyjnych.

            Wdraża idee proekologiczne w budownictwie. Interesuję się zagospodarowaniem i wykorzystaniem wody
            deszczowej.
        </mat-card-content>
    </mat-card>
</div>