body {
  background-image: url("rain.jpg");
  background-color: white;
  background-size: 100% ;
  background-repeat: no-repeat;
 }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.header {
  left: 0;
  top: 100;
  width: 100%; 
  text-align: center;
}

.logo {
  font-weight: bolder;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0 !important;
  padding: 10;
}

.cardImage {
  width: '50px';
  }