body {
  background-image: url("rain.jpg");
  background-color: #cccccc;
  background-size: 100% ;
  background-repeat: no-repeat;
 }

.global {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}


.content {
  padding-top: 1rem;
}

.menu {
  padding-top: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: rgb(95, 50, 50);
  text-align: center;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0 !important;
}